@mixin grid-col-n($frames...) {
    display: grid;
    grid-template-columns: $frames;
}

@mixin messageContentMyself {
    background: $color-blue;
    padding: 10px;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    max-width: 90%;
    width: fit-content;
    word-break: break-word;
    font-size: 14px;
    margin-top: 1px;
}

@mixin messageContentUser {
    background: #f1f0f0;
    padding: 10px;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    max-width: 90%;
    width: fit-content;
    word-break: break-word;
    font-size: 14px;
    margin-top: 1px;
}

@mixin tooltip-header($bottom, $left) {
    .tooltipHeader {
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        visibility: hidden;
        position: absolute;
        background-color: black;
        color: #fff;
        text-align: center;
        border-radius: 6px;
        padding: 8px;
        z-index: 1;
        bottom: $bottom;
        left: $left;
        width: max-content;
        font-size: 12px;
        font-weight: 500;
        font-size: 12px;

        &::after {
            content: "";
            position: absolute;
            top: 100%;
            left: 20%;
            margin-left: -5px;
            border-width: 5px;
            border-style: solid;
            border-color: black transparent transparent transparent;
        }
    }
}

@mixin tooltip-footer($bottom, $left) {
    .tooltipFooter {
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        visibility: hidden;
        position: absolute;
        background-color: white;
        color: black;
        text-align: center;
        border-radius: 1px;
        border: 1px solid black;
        padding: 5px;
        z-index: 1;
        bottom: $bottom;
        left: $left;
        width: max-content;
        font-size: 12px;
    }
}

@mixin tooltip-user($bottom, $right) {
    .tooltipUserImage {
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        visibility: hidden;
        position: absolute;
        background-color: black;
        color: #fff;
        text-align: center;
        border-radius: 6px;
        padding: 8px;
        z-index: 3;
        bottom: $bottom;
        right: $right;
        width: max-content;
        font-size: 12px;

        // min-width: max-content;

        &::after {
            content: "";
            position: absolute;
            top: 50%;
            left: 100%;
            margin-top: -5px;
            border-width: 5px;
            border-style: solid;
            border-color: transparent transparent transparent black;
        }
    }
}

@mixin tooltip-myself($bottom, $left) {
    .tooltipMyself {
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        visibility: hidden;
        position: absolute;
        background-color: black;
        color: #fff;
        text-align: center;
        border-radius: 6px;
        padding: 8px;
        z-index: 1;
        bottom: $bottom;
        left: $left;
        width: max-content;
        font-size: 12px;

        // min-width: max-content;

        &::after {
            content: "";
            position: absolute;
            top: 50%;
            right: 100%;
            margin-top: -5px;
            border-width: 5px;
            border-style: solid;
            border-color: transparent black transparent transparent;
        }
    }
}

@mixin tooltipSettings {
    //settings
    .settings {
        visibility: hidden;
        background: white;
        position: absolute;
        text-align: left;
        margin-top: 10px;
        padding: 15px;
        line-height: 1.5em;
        font-size: 1.2em;
        z-index: 1;
        top: 63%;
        left: 70%;
        width: fit-content;
        border: 1px solid black;

        ul {
            li {
                &:nth-child(2) {
                    padding-bottom: 8px;
                    border-bottom: 1px solid $color-lightgrey;
                }

                &:nth-child(3) {
                    padding-top: 8px;
                }

                &:nth-child(7) {
                    padding-bottom: 8px;
                    border-bottom: 1px solid $color-lightgrey;
                }

                &:nth-child(8) {
                    padding-top: 8px;
                }

                &:hover {
                    background: #4267b2;
                    width: 100%;
                    color: white;
                    padding: 5px;
                    transition-duration: 0.5s;
                }
            }
        }
    }
}
